/* ImageScroll1.css */

.wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 300vw;
}

.image {
  background-size: cover;
}

.imageContainer .image:nth-child(odd) {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Finspirationfeed.com%2Fnature-quotes%2F&psig=AOvVaw02oKedlYpu10RNm6mZAnDo&ust=1701231361727000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIjTjOrq5YIDFQAAAAAdAAAAABAJ");
}

.imageContainer .image:nth-child(2) {
  background-image: url("https://media.cntraveller.com/photos/611bf0b8f6bd8f17556db5e4/master/pass/gettyimages-1146431497.jpg");
}

.imageContainer .image:nth-child(3) {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg");
}

.imageContainer .image:nth-child(4) {
  background-image: url("https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C176%2C3008%2C1654&wid=4000&hei=2200&scl=0.752");
}

.imageContainer .image:nth-child(5) {
  background-image: url("https://d19h8kn98xvxar.cloudfront.net/images/_hero/connectwithnature.jpg");
}

.imageContainer .image:nth-child(6) {
  background-image: url("https://www.uwa.edu.au/news/-/media/project/uwa/uwa/newsroom/card-image/2023/value-of-nature-card.jpg");
}

.imageContainer .image:nth-child(7) {
  background-image: url("https://static.sadhguru.org/d/46272/1633199491-1633199490440.jpg");
}

.imageContainer .image:nth-child(8) {
  background-image: url("https://static.sadhguru.org/d/46272/1633199491-1633199490440.jpg");
}
